<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prashanth.CW2.em6330_cw2_2168794_prashanth">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
